/**********************************************************
//////////////////    Home page    ////////////////////////
**********************************************************/

// choose my model
.choose-section {
    margin-top: 0;
    margin-bottom: 31px;
    padding: 28px 0 38px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(#{$imagesPath}/home-bg.png);

    @include respond-to ($screen767) {
        background-image: none;
        padding: 0;
        margin-bottom: 34px;
    }

    .container {
        @include respond-to ($screen767) {
            max-width: 100%;
            padding: 0;
        }
    }

    .choose-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .choose-left {
        max-width: 55%;
        flex: 0 0 55%;

        @include respond-to ($screen767) {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .main-banner {
            padding-top: 11.1%;
            border-radius: 20px;

            @include respond-to ($screen767) {
                border-radius: 0;
            }

            &.video-icon {
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    max-width: 89px;
                    max-height: 89px;
                    min-width: 89px;
                    min-height: 89px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='45.3598' cy='45.3549' r='44.6332' fill='white' style='mix-blend-mode:overlay'/%3E%3Cpath d='M33.0469 26.8857V63.8236L62.2893 45.3547L33.0469 26.8857Z' fill='%23356A61'/%3E%3C/svg%3E%0A");

                    @include respond-to ($screen767) {
                        max-width: 46px;
                        max-height: 46px;
                        min-width: 46px;
                        min-height: 46px;
                    }
                }
            }
        }

        .choose-secound-image {
            margin: 12px -6.5px 0;

            @include respond-to ($screen767) {
                display: none;
            }
        }

        .secound-banner {
            border-radius: 20px;
            margin: 0 6.5px;
            padding-top: 5%;
            cursor: pointer;
        }
    }

    .choose-right {
        max-width: 45%;
        flex: 0 0 45%;

        @include respond-to ($screen767) {
            max-width: 100%;
            flex: 0 0 100%;
            padding: 0 20px;
        }

        .choose-right-cover {
            padding-left: 70px;

            @include respond-to ($screen1199) {
                padding-left: 25px;
            }

            @include respond-to ($screen767) {
                padding-left: 0;
                text-align: center;  
                margin-top: 13px; 
            }
        }

        .choose-title {
            font-family: $title-font;
            font-weight: $font-bold;
            font-size: 59px;
            line-height: 1.1;
            color: $color11;
            margin-bottom: 21px;

            @include respond-to ($screen1199) {
                font-size: 52px;
            }

            @include respond-to ($screen991) {
                font-size: 40px;
                padding: 0 20px;
            }
        }

        .choose-dec {
            font-weight: $font-medium;
            font-size: 18px;
            line-height: 1.5;
            letter-spacing: 0.48px;
            color: $color2;
            margin-bottom: 28px;

            @include respond-to ($screen1199) {
                font-size: 16px;
            }

            @include respond-to ($screen767) {
                font-size: 14px;
                margin-bottom: 16px;
            }
        }

        .choose-btn {
            &::after {
                content: '';
                width: 9px;
                height: 15px;
                display: inline-block;
                vertical-align: middle;
                margin-top: -2px;
                margin-left: 10px;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%0A%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.59L5.85149 7.5L0 13.41L1.57426 15L9 7.5L1.57426 0L0 1.59Z' fill='white'/%3E%3C/svg%3E%0A");
            }
        }
    }
}
// /choose my model


// call to action
.call-action-section {
    margin-top: 31px;
    margin-bottom: 59px;

    @include respond-to ($screen767) {
        margin-top: 34px;
        margin-bottom: 37px;
    }

    .call-action-row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 22px;

        .call-action-col {
            max-width: 25%;
            flex: 0 0 25%;
        }

        .call-action-title {
            margin-bottom: 18px;
            display: flex;
            align-items: center;

            @include respond-to ($screen991) {
                justify-content: center;
            }

            .action-title {
                font-family: $primary-font;
                font-weight: $font-semibold;
                font-size: 14px;
                letter-spacing: 0.03em;
                color: $color5;
                line-height: 1.5;
            }

            &::before {
                content: '';
                width: 58px;
                height: 58px;
                border: 2px solid $bordercolor5;
                border-radius: 50%;
                display: block;
                margin-right: 15px;
                background-position: center center;
                background-size: 24px;
                background-repeat: no-repeat;
            }

            &.acces {
                &::before {
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.355 6.036C18.674 2.595 15.641 0 12 0C9.108 0 6.603 1.639 5.352 4.036C2.343 4.36 0 6.906 0 10C0 13.314 2.686 16 6 16H19C21.761 16 24 13.761 24 11C24 8.36 21.948 6.221 19.355 6.036ZM19 14H6C3.794 14 2 12.206 2 10C2 7.952 3.533 6.243 5.565 6.025L6.629 5.91L7.124 4.961C8.078 3.135 9.947 2 12 2C14.617 2 16.885 3.861 17.393 6.424L17.69 7.922L19.213 8.031C20.776 8.142 22 9.447 22 11C22 12.654 20.654 14 19 14Z' fill='%23BB6F58'/%3E%3C/svg%3E%0A");
                }
            }

            &.technologie {
                &::before {
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 2.01172C5.346 2.01172 4 3.35772 4 5.01172V7H3C1.9 7 1 7.9 1 9V11C1 12.1 1.9 13 3 13H4V16C4 17.654 5.346 19 7 19H17C18.654 19 20 17.654 20 16V13H21V20C21 20.551 20.551 21 20 21H15.9082C15.7012 20.419 15.152 20 14.5 20C13.672 20 13 20.672 13 21.5C13 22.328 13.672 23 14.5 23C14.61 23 14.7163 22.9868 14.8203 22.9648C14.8803 22.9758 14.936 23 15 23H20C21.654 23 23 21.654 23 20V11V9C23 7.9 22.1 7 21 7H20V5.01172C20 3.35772 18.654 2.01172 17 2.01172H7ZM7 4.01172H17C17.551 4.01172 18 4.46072 18 5.01172V16C18 16.551 17.551 17 17 17H7C6.449 17 6 16.551 6 16V5.01172C6 4.46072 6.449 4.01172 7 4.01172ZM9.5 7C9.10218 7 8.72064 7.15804 8.43934 7.43934C8.15804 7.72064 8 8.10218 8 8.5C8 8.89782 8.15804 9.27936 8.43934 9.56066C8.72064 9.84196 9.10218 10 9.5 10C9.89782 10 10.2794 9.84196 10.5607 9.56066C10.842 9.27936 11 8.89782 11 8.5C11 8.10218 10.842 7.72064 10.5607 7.43934C10.2794 7.15804 9.89782 7 9.5 7ZM14.5 7.01172C14.1022 7.01172 13.7206 7.16975 13.4393 7.45106C13.158 7.73236 13 8.11389 13 8.51172C13 8.90954 13.158 9.29107 13.4393 9.57238C13.7206 9.85368 14.1022 10.0117 14.5 10.0117C14.8978 10.0117 15.2794 9.85368 15.5607 9.57238C15.842 9.29107 16 8.90954 16 8.51172C16 8.11389 15.842 7.73236 15.5607 7.45106C15.2794 7.16975 14.8978 7.01172 14.5 7.01172ZM8 12V15H16V12H8Z' fill='%23BB6F58'/%3E%3C/svg%3E%0A");
                }
            }

            &.selection {
                &::before {
                    background-size: 21px;
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 0C11.605 0 10 2.09 10 2.09C10 2.09 8.395 0 5.5 0C2.462 0 0 2.462 0 5.5C0 9.671 4.912 13.713 6.281 14.99C7.858 16.46 10 18.35 10 18.35C10 18.35 12.142 16.46 13.719 14.99C15.088 13.713 20 9.671 20 5.5C20 2.462 17.538 0 14.5 0ZM12.811 13.11C12.634 13.27 12.48 13.409 12.355 13.526C11.604 14.226 10.716 15.029 10 15.671C9.284 15.029 8.395 14.225 7.645 13.526C7.519 13.409 7.365 13.269 7.189 13.11C5.769 11.827 2 8.419 2 5.5C2 3.57 3.57 2 5.5 2C7.327 2 8.386 3.275 8.414 3.308L10 5L11.586 3.308C11.596 3.295 12.673 2 14.5 2C16.43 2 18 3.57 18 5.5C18 8.419 14.231 11.827 12.811 13.11Z' fill='%23BB6F58'/%3E%3C/svg%3E%0A");
                }
            }

            &.rapide {
                &::before {
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 5.019L13.618 8.298L14.083 9.241L15.124 9.392L18.742 9.918L16.124 12.47L15.371 13.204L15.549 14.24L16.167 17.844L12.931 16.143L12 15.653L11.069 16.142L7.83296 17.843L8.45096 14.239L8.62896 13.203L7.87596 12.47L5.25796 9.918L8.87596 9.392L9.91696 9.241L10.382 8.298L12 5.019ZM12 0.5L8.58796 7.413L0.959961 8.521L6.47996 13.902L5.17696 21.5L12 17.913L18.823 21.5L17.52 13.902L23.04 8.521L15.411 7.412L12 0.5Z' fill='%23BB6F58'/%3E%3C/svg%3E%0A");
                }
            }
        }

        .call-action-dec {
            font-weight: $font-regular;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.48px;
            color: $color1;
            max-width: 207px;

            @include respond-to ($screen991) {
                text-align: center;
                margin: 0 auto;
                max-width: 240px;
            }
        }
    }

    .call-action-btn {
        display: block;
        width: fit-content;
        margin: 48px auto 0;
    }
}
// /call to action


// discover our universes
.universes-section {
    background-color: $bgcolor7;
    padding: 41px 0 131px;
    margin-top: 59px;
    margin-bottom: 34px;

    @include respond-to ($screen767) {
        margin-top: 37px;
        margin-bottom: 38px;
        padding: 35px 0;
    }

    .universes-image {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -25px;
        
        @include respond-to ($screen1280) {
            margin: -15px;
        }

        @include respond-to ($screen767) {
            margin: -12px;
        }

        .universes-image-list {
            padding: 25px;
            max-width: 33.33%;
            flex: 0 0 33.33%;
            position: relative;

            @include respond-to ($screen1280) {
                padding: 15px;
            }

            @include respond-to ($screen767) {
                max-width: 50%;
                flex: 0 0 50%;
                padding: 12px;
            }

            @include respond-to ($screen500) {
                max-width: 100%;
                flex: 0 0 100%;
            }

            .theme-img {
                padding-top: 100%;
                border-radius: 20px;
                
                img {
                    transition: all .3s ease;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }

            &:first-child,
            &:last-child {
                max-width: 60%;
                flex: 0 0 60%;

                @include respond-to ($screen767) {
                    max-width: 50%;
                    flex: 0 0 50%;
                }

                @include respond-to ($screen500) {
                    max-width: 100%;
                    flex: 0 0 100%;
                }

                .theme-img {
                    padding-top: 79%;

                    @include respond-to ($screen767) {
                        padding-top: 100%;
                    }
                }
            }

            &:nth-child(2),
            &:nth-last-of-type(2) {
                max-width: 40%;
                flex: 0 0 40%;

                @include respond-to ($screen767) {
                    max-width: 50%;
                    flex: 0 0 50%;
                }

                @include respond-to ($screen500) {
                    max-width: 100%;
                    flex: 0 0 100%;
                }

                .theme-img {
                    padding-top: 123%;

                    @include respond-to ($screen1280) {
                        padding-top: 121.1%;

                        @include respond-to ($screen767) {
                            padding-top: 100%;
                        }
                    }
                }
            }

            .universes-secound-image {
                position: absolute;
                top: 25px;
                left: 25px;
                max-width: 46%;
                flex: 0 0 46%;
                width: 100%;

                @include respond-to ($screen1280) {
                    top: 15px;
                    left: 15px;
                }


                @include respond-to ($screen767) {
                    top: 12px;
                    left: 12px;
                }
                .theme-img {
                    padding-top: 100%;
                    border-radius: 6px;
                }
            }

            .universes-image-title {
                position: absolute;
                bottom: 0;
                background: rgba(187, 111, 88, 0.5);
                background-blend-mode: multiply;
                border-radius: 0px 0px 20px 20px;
                display: flex;
                align-items: center;
                width: 100%;
                font-weight: $font-medium;
                font-size: 18px;
                line-height: 1.2;
                letter-spacing: 0.48px;
                color: $color3;
                text-transform: uppercase;
                min-height: 75px;
                padding: 10px 22px;

                @include respond-to ($screen767) {
                    min-height: 52px;

                    br {
                        display: none;
                    }
                }
            }
        }
    }
}
// /discover our universes


// testimonials
.testimonials-section {
    margin-top: 34px;
    margin-bottom: 76px;

    @include respond-to ($screen767) {
        margin-top: 38px;
        margin-bottom: 35px;
    }

    .main-title {
        margin-bottom: 63px;

        @include respond-to ($screen767) {
            margin-bottom: 38px;   
        }
    }

    .testimonials-row {
        padding: 0 36px;

        @include respond-to ($screen767) {
            padding: 0 31px;
        }
    }

    .testimonials-col {
        padding: 0 44px;

        @include respond-to ($screen1199) {
            padding: 0 25px;
        }

        @include respond-to ($screen767) {
            padding: 0;
        }
    }

    .testimonials-contain {
        display: flex;
        justify-content: space-between;

        @include respond-to ($screen500) {
            flex-wrap: wrap;
        }
    }

    .test-name-row {
        display: flex;
        align-items: center;
        max-width: 75%;
        flex: 0 0 75%;

        @include respond-to ($screen500) {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .theme-img {
            padding-top: 17%;
            max-width: 59px;
            flex: 0 0 59px;
            border-radius: 50%;
            margin-right: 18px;

            @include respond-to ($screen1199) {
                padding-top: 20%;
            }

            @include respond-to ($screen991) {
                padding-top: 12.8%;
            }

            @include respond-to ($screen767) {
                padding-top: 15.8%;
            }

            @include respond-to ($screen767) {
                padding-top: 22.9%;
                margin-right: 18px;
            }
        }

        .test-name-cover {
            .test-name {
                font-family: $primary-font;
                font-weight: $font-semibold;
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: 0.48px;
                color: $color1;
            }

            .test-time {
                font-weight: $font-light;
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: 0.48px;
                color: $color2;
            }
        }
    }

    .test-review-cover {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        max-width: 25%;
        flex: 0 0 25%;

        @include respond-to ($screen500) {
            max-width: 100%;
            flex: 0 0 100%;
            justify-content: flex-start;
            padding-left: 77px;
            padding-top: 1px;
        }

        .test-review {
            width: 22px;
            height: 21px;
            font-size: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 5.019L13.618 8.298L14.083 9.241L15.124 9.392L18.742 9.918L16.124 12.47L15.371 13.204L15.549 14.24L16.167 17.844L12.931 16.143L12 15.653L11.069 16.142L7.83296 17.843L8.45096 14.239L8.62896 13.203L7.87596 12.47L5.25796 9.918L8.87596 9.392L9.91696 9.241L10.382 8.298L12 5.019ZM12 0.5L8.58796 7.413L0.959961 8.521L6.47996 13.902L5.17696 21.5L12 17.913L18.823 21.5L17.52 13.902L23.04 8.521L15.411 7.412L12 0.5Z' fill='%23FFD17E'/%3E%3C/svg%3E%0A");

            &.active {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0.5L8.58789 7.41211L0.960938 8.52148L6.48047 13.9023L5.17773 21.5L12 17.9121L18.8223 21.5L17.5195 13.9023L23.0391 8.52148L15.4121 7.41211L12 0.5Z' fill='%23FFD17E'/%3E%3C/svg%3E%0A");
            }
        }
    }

    .testimonials-dec {
        font-style: italic;
        font-weight: $font-light;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.48px;
        color: $color2;
        padding-top: 14px;
        margin-top: 19px;
        border-top: 1px solid $bordercolor6;
    }

    .slick-arrow {
        top: 25%;

        @include respond-to ($screen500) {
            top: 40%;
        }
    }
}
// /testimonials


// Our best-sellers
.best-sellers-section {
    background-color: $bgcolor7;
    padding: 73px 0 136px;
    margin-top: 76px;
    margin-bottom: 66px;

    @include respond-to ($screen767) {
        margin-top: 35px;
        margin-bottom: 44px;
        padding: 37px 0 74px;
    }

    .best-sellers-row {
        margin: 0;
        padding: 0 53px;
        display: inherit;

        @include respond-to ($screen767) {
            padding: 0;
        }        
    }

    .slick-arrow {
        background: $bgcolor1;
        width: 27px;
        height: 54px;
        top: 38%;

        &.slick-prev {
            -webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg width='29' height='56' viewBox='0 0 29 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 1L2.41422 26.5858C1.63317 27.3668 1.63317 28.6332 2.41421 29.4142L28 55' stroke='%23356A61' stroke-width='2'/%3E%3C/svg%3E%0A");
        }

        &.slick-next {
            -webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg width='29' height='56' viewBox='0 0 29 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 55L26.5858 29.4142C27.3668 28.6332 27.3668 27.3668 26.5858 26.5858L1 0.999998' stroke='%23356A61' stroke-width='2'/%3E%3C/svg%3E%0A");
        }

        &:hover {
            background: $bgcolor9;
        }
    }
    @include respond-to ($screen1199) {
        .product-name {
            justify-content: center;
            padding: 0 15px 11px 15px;

            .product-social {
                display: none;
            }
        }

        .product-btn {
            padding-left: 0;
            width: 100%;
            text-align: center;

            .voir-btn {
                display: none;
            }
        }
        .product-tag {
            display: none;
        }
    }

    @include respond-to ($screen767) {    
        .product-main-cover {
            padding: 0 20px;
        }
    }

    @include respond-to ($screen500) {
        .main-title {
            margin-bottom: 28px;
        }
    }
}
// /Our best-sellers


// Concept & Engagement
.concept-section {
    margin-top: 66px;
    margin-bottom: 95px;

    @include respond-to ($screen767) {
        margin-top: 44px;
        margin-bottom: 33px;
    }
    
    .main-title {
        margin-bottom: 91px;

        @include respond-to ($screen767) {
            margin-bottom: 51px;   
        }
    }

    .concept-top {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -34px;
        counter-reset: my-sec-counter;

        @include respond-to ($screen1280) {
            margin: 0 -15px;
        }

        @include respond-to ($screen991) {
            margin: -15px;
        }

        .concept-cover {
            max-width: 25%;
            flex: 0 0 25%;
            padding: 0 34px;

            @include respond-to ($screen1280) {
                padding: 0 15px;
            }

            @include respond-to ($screen991) {
                max-width: 50%;
                flex: 0 0 50%;
                padding: 15px;
            }

            @include respond-to ($screen500) {
                max-width: 100%;
                flex: 0 0 100%;
            }

            &::before {
                counter-increment: my-sec-counter;
                content: counter(my-sec-counter);
                border: 3px solid $bordercolor5;
                min-width: 58px;
                max-width: 58px;
                min-height: 58px;
                max-height: 58px;
                font-family: $title-font;
                font-weight: $font-bold;
                font-size: 36px;
                line-height: 1;
                display: table;
                text-align: center;
                color: $color5;
                border-radius: 50%;
                margin: 0 auto 25px;
            }
        }

        .concept-dec {
            font-weight: $font-regular;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.48px;
            color: #356A61;

            @include respond-to ($screen500) {
                max-width: 240px;
                margin: 0 auto;
            }

            strong {
                font-weight: $font-bold;
            }
        }
    }

    .concept-bottom {
        max-width: 771px;
        margin: 0 auto;
        position: relative;
        margin-top: 38px;
        padding-top: 68px;

        @include respond-to ($screen500) {
            margin-top: 93px;
            padding-top: 0;
        }

        .concept-trees {
            position: absolute;
            top: 0;
            display: block;
            font-size: 0;
            width: 108px;
            height: 103px;
            margin-left: 4px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(#{$imagesPath}/leaf.png);

            @include respond-to ($screen500) {
                display: none;
            }
        }

        .concept-contain {
            background: $bgcolor6;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
            border-radius: 20px; 
            padding: 42px 14px 42px 66px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include respond-to ($screen500) {
                flex-wrap: wrap;
                padding: 63px 52px 28px 42px;
                justify-content: center;
            }

            .concept-bottom-dec {
                font-weight: $font-regular;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.48px;
                color: $color2;
                padding-right: 17px;

                @include respond-to ($screen500) {
                    text-align: left;
                    padding-right: 0;
                    padding-bottom: 15px;
                }

                strong {
                    font-weight: $font-bold;
                }
            }
        }

        .concept-trees-con {
            background: linear-gradient(0deg, #F2D6C8, #F2D6C8), #F2D6C8;
            background-blend-mode: multiply, normal;
            border-radius: 10px;
            padding: 6px 16px;
            width: fit-content;
            margin-left: 66px;
            margin-top: -26px;

            @include respond-to ($screen500) {
                margin-top: 15px;
                margin-left: 0;
                width: 100%;
                padding: 6px 10px;
            }

            .trees-con-dec {
                font-weight: $font-medium;
                font-size: 18px;
                line-height: 1.5;
                letter-spacing: 0.48px;
                color: $color5;
                display: flex;
                align-items: center;

                @include respond-to ($screen500) {
                    justify-content: center;
                }
                
                span {
                    font-family: $title-font;
                    font-weight: $font-bold;
                    font-size: 36px;
                    line-height: 1.1;
                    display: block;
                    color: $color5;
                    margin-right: 12px;

                    @include respond-to ($screen500) {
                        margin-right: 4px;
                    }
                }

                strong {
                    font-weight: $font-bold;
                    padding-left: 5px;

                    @include respond-to ($screen500) {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}
// /Concept & Engagement