/**********************************************************
//////////////////    single elements page    ////////////////////////
**********************************************************/


// single-elements-top
.single-main {
    padding: 0 75px 0 101px;
    margin-top: 130px;
    margin-bottom: 76px;

    @include respond-to ($screen1199) {
        padding: 0 40px;
    }

    @include respond-to ($screen500) {
        padding: 0 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .single-row {
        display: flex;
        flex-wrap: wrap;
    }

    .single-left {
        max-width: 50%;
        flex: 0 0 50%;

        @include respond-to ($screen991) {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .single-left-list {
            font-weight: $font-regular;
            font-size: 16px;
            line-height: 1.5;
            display: flex;
            align-items: center;
            letter-spacing: 0.48px;
            color: $color2;
            margin-bottom: 10px;

            &::before {
                content: '';
                margin-right: 13px;
                width: 22px;
                height: 20px;
                display: block;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &.management-icon {
                &::before {
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0C2.895 0 2 0.895 2 2V10.1719L2.58594 9.58594L4 8.17188V5.00195L12 10L20 5.00195V14H10.0391C10.5971 14.541 11.0749 15.203 11.4199 16H20C21.105 16 22 15.105 22 14V2C22 0.895 21.105 0 20 0H4ZM4 2H20V3.00195L12 8L4 3.00195V2ZM4 11L0 15L4 19V16H5C5.04464 16.0006 5.1662 16.0225 5.23828 16.0273C5.49275 16.0482 5.97638 16.1064 6.55273 16.3945C6.6832 16.4598 6.80478 16.5427 6.92773 16.623C7.51151 17.0505 8 17.7606 8 19V20H10V19C10 16.879 9.05129 15.6118 7.91211 14.877C7.89654 14.8665 7.88083 14.8598 7.86523 14.8496C6.89172 14.2378 5.78862 14 5 14H4V11Z' fill='%23BB6F58'/%3E%3C/svg%3E%0A");
                }
            }
            &.placement-icon {
                &::before {
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C4.486 0 0 4.486 0 10C0 15.514 4.486 20 10 20C11.045 20 12.052 19.8371 13 19.5391V17.4102C12.073 17.7872 11.061 18 10 18C5.589 18 2 14.411 2 10C2 5.589 5.589 2 10 2C10.32 2 10.6363 2.01964 10.9473 2.05664C11.2393 1.41164 11.5974 0.787516 12.0234 0.228516C11.3674 0.0925156 10.696 0 10 0ZM16 0C15.2495 0 14.6204 0.372388 14.1445 0.822266C13.6686 1.27214 13.3002 1.82432 12.9922 2.41602C12.3762 3.5994 12 4.90133 12 6C12 7.85034 13.2842 9.4056 15 9.85547V20H17V9.85547C18.7158 9.4056 20 7.85034 20 6C20 4.90133 19.6238 3.5994 19.0078 2.41602C18.6998 1.82432 18.3314 1.27214 17.8555 0.822266C17.3796 0.372388 16.7505 0 16 0ZM16 2C16.078 2 16.2385 2.04667 16.4805 2.27539C16.7224 2.50411 16.9995 2.88866 17.2344 3.33984C17.7041 4.24221 18 5.44167 18 6C18 7.11667 17.1167 8 16 8C14.8833 8 14 7.11667 14 6C14 5.44167 14.2959 4.24221 14.7656 3.33984C15.0005 2.88866 15.2776 2.50411 15.5195 2.27539C15.7615 2.04667 15.922 2 16 2ZM10 4C6.691 4 4 6.691 4 10C4 13.309 6.691 16 10 16C11.093 16 12.116 15.7005 13 15.1875V12.6172C12.266 13.4572 11.201 14 10 14C7.794 14 6 12.206 6 10C6 7.794 7.794 6 10 6C10 5.422 10.0935 4.73753 10.2695 4.01953C10.1785 4.01553 10.091 4 10 4Z' fill='%23BB6F58'/%3E%3C/svg%3E%0A");
                }
            }
            &.text-icon {
                &::before {
                    height: 18px;
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V2V4H2V2H7V16H5V18H7H9H11V16H9V2H14V4H16V1V0H0Z' fill='%23BB6F58'/%3E%3C/svg%3E%0A");
                }
            }
            &.reminder-icon {
                &::before {
                    height: 20px;
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C7.172 0 6.5 0.672 6.5 1.5V2.19922C3.9204 2.87026 2 5.21706 2 8V12.8379L1.2793 15H0V17H6.26953C6.09344 17.3039 6.00048 17.6488 6 18C6 18.5304 6.21071 19.0391 6.58579 19.4142C6.96086 19.7893 7.46957 20 8 20C8.53043 20 9.03914 19.7893 9.41421 19.4142C9.78929 19.0391 10 18.5304 10 18C9.99893 17.6486 9.90529 17.3037 9.72852 17H16V15H14.7207L14 12.8379V8C14 5.21706 12.0796 2.87026 9.5 2.19922V1.5C9.5 0.672 8.828 0 8 0ZM8 4C10.2204 4 12 5.77963 12 8V13.1621L12.6113 15H3.38867L4 13.1621V8C4 5.77963 5.77963 4 8 4Z' fill='%23BB6F58'/%3E%3C/svg%3E%0A");
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .single-right {
        max-width: 50%;
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 410px;

        @include respond-to ($screen991) {
            max-width: 100%;
            flex: 0 0 100%;
            margin-top: 40px;
            justify-content: flex-start;
            min-width: 100%;
        }

        .single-right-list {
            border-bottom: 1px solid $bordercolor1;
        }

        .single-right-title {
            font-weight: $font-regular;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.48px;
            color: $color1;
            min-width: 205px;
            text-align: center;
            border-bottom: 4px solid transparent;
            padding: 12px 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond-to ($screen500) {
                min-width: 160px;
                font-size: 12px;
            }

            &.cartes-icon {
                &::before {
                    content: '';
                    display: block;
                    width: 21px;
                    height: 16px;
                    margin-right: 4px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0C1.395 0 0.5 0.895 0.5 2V4V7V14C0.5 15.105 1.395 16 2.5 16H18.5C19.605 16 20.5 15.105 20.5 14V7V4V2C20.5 0.895 19.605 0 18.5 0H2.5ZM2.5 2H18.5V4H2.5V2ZM2.5 7H18.5V14H2.5V7Z' fill='%23356A61'/%3E%3C/svg%3E%0A");
                }
            }

            &.paypal-icon {
                &::before {
                    content: '';
                    display: block;
                    width: 19px;
                    height: 18px;
                    margin-right: 4px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5625 0C4.11972 0 3.7783 0.246655 3.51562 0.5625C3.3349 0.705912 3.20932 0.907398 3.16016 1.13281L0.541016 13.2617C0.525466 13.3323 0.517607 13.4043 0.517578 13.4766C0.511663 13.5255 0.505859 13.4909 0.505859 13.5605C0.505859 13.5818 0.528334 13.5942 0.529297 13.6152C0.55373 13.7883 0.623091 13.9519 0.730469 14.0898C0.960028 14.5936 1.376 15 1.94922 15H4.26562L4 16.2617C3.98619 16.3272 3.97899 16.394 3.97852 16.4609C3.97851 16.4622 3.97851 16.4635 3.97852 16.4648C3.97166 16.5164 3.9668 16.4711 3.9668 16.5547C3.9668 16.5749 3.98742 16.5874 3.98828 16.6074C4.01271 16.7805 4.08208 16.9441 4.18945 17.082C4.41569 17.5889 4.82759 18 5.41016 18H8.66992C8.80339 18.0002 8.93555 17.9736 9.05859 17.9219C9.45001 17.805 9.76605 17.5326 9.94336 17.1797C10.0058 17.084 10.0514 16.9783 10.0781 16.8672L10.9844 13H12.377C13.7589 13 15.0638 12.7804 16.1562 12.0938C17.2487 11.4071 18.0392 10.2386 18.3672 8.70508C18.7443 6.93779 18.2492 5.41041 17.3203 4.43945C16.6121 3.69914 15.7109 3.26535 14.7949 3.0957C14.558 2.1724 14.0459 1.41844 13.3926 0.916016C12.5474 0.266072 11.5247 0 10.5508 0H4.5625ZM5.01953 2H10.5508C11.1489 2 11.7528 2.17815 12.1738 2.50195C12.3109 2.60734 12.3162 2.87351 12.4219 3.01172H7.92188C7.48944 3.01172 7.14439 3.25374 6.87891 3.56641C6.6918 3.71298 6.56301 3.92139 6.51562 4.1543L5.45508 9.37695L4.68945 13H2.64453L5.01953 2ZM8.38281 5.01172H12.959C12.9553 5.06476 12.9598 5.14126 12.9512 5.18164C12.7117 6.30288 12.2443 6.92273 11.5742 7.35156C10.9041 7.7804 9.9625 8 8.81445 8H7.77539L8.38281 5.01172ZM14.9102 5.41992C15.2484 5.55753 15.6293 5.56548 15.875 5.82227C16.3708 6.34056 16.676 7.0504 16.4121 8.28711C16.1701 9.41861 15.7269 10.0013 15.0918 10.4004C14.4567 10.7995 13.539 11 12.377 11H10.5215C9.95532 11 9.4675 11.4183 9.29688 11.7168C9.12625 12.0153 9.09766 12.2949 9.09766 12.2949L9.11523 12.1973L8.22656 16H6.09961L6.42578 14.457C6.46805 14.3757 6.49894 14.289 6.51758 14.1992L7.36914 10H8.81445C10.2104 10 11.5427 9.74728 12.6523 9.03711C13.762 8.32694 14.5787 7.14237 14.9082 5.59961C14.9248 5.52186 14.8993 5.4951 14.9102 5.41992ZM8.4375 15.8926C8.40037 15.9258 8.36577 15.9617 8.33398 16H8.31445L8.4375 15.8926ZM8.29492 16.0488C8.28756 16.0591 8.2804 16.0695 8.27344 16.0801C8.27279 16.0801 8.27214 16.0801 8.27148 16.0801C8.2408 16.0935 8.21082 16.1085 8.18164 16.125L8.29492 16.0488Z' fill='%23204B43'/%3E%3C/svg%3E%0A");
                }
            }

            &.active, 
            &:hover {
                border-bottom: 4px solid $bordercolor1;
            }
        }
    }
}
// /single-elements-top


// single-elements-add-photo
.add-photo-main {
    padding: 0 75px 0 101px;
    margin-top: 76px;
    margin-bottom: 76px;

    @include respond-to ($screen1199) {
        padding: 0 40px;
    }

    @include respond-to ($screen500) {
        padding: 0 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .add-photo-box {
        background: #F2F2F2;
        border-radius: 20px;
        padding: 54px 15px 35px;
        max-width: 470px;
        position: relative;

        .add-photo-dec {
            font-weight: $font-regular;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.48px;
            color: $color1;
            text-align: center;

            &::after {
                content: '';
                width: 174px;
                height: 158px;
                display: block;
                margin: 0 auto;
                margin-top: 29px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%0A%3Csvg width='174' height='158' viewBox='0 0 174 158' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8182 0C7.07864 0 0 7.0705 0 15.8V110.6C0 119.329 7.07864 126.4 15.8182 126.4H79.0909V102.7H23.7273L51.4091 67.15L71.1818 90.9271L98.8636 55.3L110.727 71.1C110.727 71.1 110.727 63.2 118.636 63.2H158.182V15.8C158.182 7.0705 151.103 0 142.364 0H15.8182ZM126.545 79V110.6H94.9091V126.4H126.545V158H142.364V126.4H174V110.6H142.364V79H126.545Z' fill='%23356A61'/%3E%3C/svg%3E%0A");

                @include respond-to ($screen500) {
                    width: 134px;
                    height: 118px;
                }
            }
        }

        .add-photo-input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: inherit;
            opacity: 0;
            max-width: 470px;
            margin: 0;
            cursor: pointer;
        }
    }
}
// /single-elements-add-photo