/**********************************************************
//////////////////    template content simple page    ////////////////////////
**********************************************************/


// template-content-simple
.template-content-section {
    margin-top: 24px;
    margin-bottom: 60px;

    .container {
        @include respond-to ($minscreen992) {
            max-width: 990px;
        }
    }

    h2 {
        font-family: $title-font;
        font-weight: $font-bold;
        font-size: 36px;
        line-height: 1.2;
        text-align: left;
        color: $color11;
        margin-bottom: 35px;

        @include respond-to ($screen991) {
            font-size: 30px;
        }

        @include respond-to ($screen767) {
            margin-bottom: 25px;
            font-size: 24px;
        }
    }

    p {
        font-weight: $font-regular;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.48px;
        color: $color4;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        @include respond-to ($screen767) {
            font-size: 14px;
        }
    }

    ul {
        margin-bottom: 20px;

        li {
            font-weight: $font-regular;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.48px;
            color: $color4;
            margin-bottom: 2px;
            position: relative;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                background-color: $bgcolor4;
                width: 4px;
                height: 4px;
                border-radius: 10px;
                display: block;
                margin: 0 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            @include respond-to ($screen767) {
                font-size: 14px;
            }
        }
    }

    h3 {
        font-family: $primary-font;
        font-weight: $font-semibold;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.48px;
        color: $color10;
        margin-bottom: 10px;
        margin-bottom: 4px;
    }

    .popup-cover-main {
        position: unset;
        transform: inherit;
        margin-top: 61px;
        margin-bottom: 61px;

        @include respond-to ($screen767) {
            max-width: 100%;
            min-width: 100%;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .popup-header {
            padding: 13px 24px 15px;
        }

        .popup-title {
            margin-bottom: 0;
        }

        .popup-contain {
            padding: 50px 53px 62px 30px;
            margin-right: 0;

            @include respond-to ($screen767) {
                padding: 30px;
            }
        }

        p {
            font-weight: $font-semibold;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.48px;
            color: $color10;

            @include respond-to ($screen767) {
                font-size: 14px;
            }
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;

        @include respond-to ($screen991) {
            margin: 0 -15px;
        }
    }

    .col-6 {
        max-width: 60%;
        flex: 0 0 60%;
        padding: 0 20px;

        @include respond-to ($screen991) {
            padding: 0 15px;
        }

        @include respond-to ($screen767) {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    .col-5 {
        max-width: 40%;
        flex: 0 0 40%;
        padding: 0 20px;

        @include respond-to ($screen991) {
            padding: 0 15px;
        }

        @include respond-to ($screen767) {
            max-width: 100%;
            flex: 0 0 100%;
            margin-top: 20px;
        }
    }

    .theme-img {
        padding-top: 66%;
        border-radius: 20px;
    }
}
// /template-content-simple