/**********************************************************
//////////////////    footer    ///////////////////////////
**********************************************************/

.footer-top {
    background-color: $bgcolor7;
    padding: 42px 5px 74px;

    @include respond-to ($screen991) {
        padding: 23px 5px 25px;
    }

    .container {
        @include respond-to ($screen767) {
            max-width: 100%;
        }
    }

    .footer-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-col {
        max-width: 33.33%;
        flex: 0 0 33.33%;

        @include respond-to ($screen991) {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    .footer-link {
        display: flex;
        justify-content: space-between;

        @include respond-to ($screen991) {
            padding: 0 100px;
        }

        @include respond-to ($screen600) {
            padding: 0 20px;
        }

        .footer-list {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .footer-list-link {
            cursor: pointer;
            font-weight: $font-regular;
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: 0.48px;
            display: block;
            color: $color1;
            text-transform: uppercase;

            &:hover {
                color: $color5;
            }
        }
    }

    .footer-logo {
        padding: 0 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond-to ($screen991) {
            padding: 38px 12px;
        }

        .footer_logo {
            display: block;
            @include respond-to ($screen500) {
                max-width: 59px;
            }

            img {
                margin: 0 auto;
            }
        }
    }

    .newsletter-col {
        .footer-newsletter {
            border-bottom: 1px solid $bordercolor6;
            margin-bottom: 29px;
            padding-bottom: 26px;

            @include respond-to ($screen991) {
                padding: 0 20px 35px;
                text-align: center;
            }
        }

        .news-lable {
            font-weight: $font-bold;
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: 0.48px;
            margin-bottom: 7px;
        }

        .footer-input {
            display: flex;
            align-items: center;

            @include respond-to ($screen991) {
                justify-content: center;
            }

            @include respond-to ($screen500) {
                flex-wrap: wrap;
            }

            .news-input {
                margin: 0;
                background-color: $bgcolor3;
                border: none;
                border-radius: 8px;
                padding: 15px 14px 14px 14px;
                font-weight: $font-regular;
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: 0.48px;
                max-width: 246px;
            }

            @include placeholder {
                font-weight: $font-regular;
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: 0.48px;
                color: #BDBDBD;
            }

            .news-btn {
                font-weight: $font-semibold;
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                letter-spacing: 0.48px;
                color: $color3;
                background-color: $bgcolor1;
                border: none;
                border-radius: 8px;
                padding: 15px 14px;
                display: block;
                margin-left: 20px;
                cursor: pointer;
                transition: all .3s ease;
                appearance: none;

                @include respond-to ($screen500) {
                    margin-left: 0;
                    margin-top: 15px;
                    padding: 8px 12px;
                }

                &:hover {
                    background-color: $bgcolor9;
                }
            }
        }

        .fooer-social {
            .social-cover {
                display: flex;
                align-items: center;

                @include respond-to ($screen991) {
                    justify-content: center;
                }
            }

            .social-list {
                margin-right: 13px;

                &:last-child {
                    margin-right: 0;
                }

                .social-title {
                    display: block;
                    font-size: 0;
                    background: $bgcolor1;
                    -webkit-mask-position: center;
                    -webkit-mask-repeat: no-repeat;
                    -webkit-mask-size: contain;

                    &.facebook {
                        width: 13px;
                        height: 25px;
                        -webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='25' viewBox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5122 14.0625L13.2065 9.53809H8.86523V6.60205C8.86523 5.36426 9.47168 4.15771 11.416 4.15771H13.3896V0.305664C13.3896 0.305664 11.5986 0 9.88623 0C6.31104 0 3.97412 2.16699 3.97412 6.08984V9.53809H0V14.0625H3.97412V25H8.86523V14.0625H12.5122Z' fill='%23356A61'/%3E%3C/svg%3E%0A");
                    }

                    &.instagram {
                        width: 22px;
                        height: 22px;
                        -webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.946 5.33081C7.84058 5.33081 5.33569 7.83569 5.33569 10.9412C5.33569 14.0466 7.84058 16.5515 10.946 16.5515C14.0515 16.5515 16.5564 14.0466 16.5564 10.9412C16.5564 7.83569 14.0515 5.33081 10.946 5.33081ZM10.946 14.5886C8.93921 14.5886 7.29858 12.9529 7.29858 10.9412C7.29858 8.92944 8.93433 7.2937 10.946 7.2937C12.9578 7.2937 14.5935 8.92944 14.5935 10.9412C14.5935 12.9529 12.9529 14.5886 10.946 14.5886ZM18.0945 5.10132C18.0945 5.82886 17.5085 6.40991 16.7859 6.40991C16.0584 6.40991 15.4773 5.82397 15.4773 5.10132C15.4773 4.37866 16.0632 3.79272 16.7859 3.79272C17.5085 3.79272 18.0945 4.37866 18.0945 5.10132ZM21.8103 6.42944C21.7273 4.67651 21.3269 3.12378 20.0427 1.84448C18.7634 0.565185 17.2107 0.164795 15.4578 0.0769043C13.6511 -0.0256348 8.23608 -0.0256348 6.42944 0.0769043C4.6814 0.159912 3.12866 0.560303 1.84448 1.8396C0.560303 3.1189 0.164795 4.67163 0.0769043 6.42456C-0.0256348 8.2312 -0.0256348 13.6462 0.0769043 15.4529C0.159912 17.2058 0.560303 18.7585 1.84448 20.0378C3.12866 21.3171 4.67651 21.7175 6.42944 21.8054C8.23608 21.908 13.6511 21.908 15.4578 21.8054C17.2107 21.7224 18.7634 21.322 20.0427 20.0378C21.322 18.7585 21.7224 17.2058 21.8103 15.4529C21.9128 13.6462 21.9128 8.23608 21.8103 6.42944ZM19.4763 17.3914C19.0955 18.3484 18.3582 19.0857 17.3962 19.4714C15.9558 20.0427 12.5378 19.9109 10.946 19.9109C9.35425 19.9109 5.9314 20.0378 4.49585 19.4714C3.53882 19.0906 2.80151 18.3533 2.41577 17.3914C1.84448 15.9509 1.97632 12.533 1.97632 10.9412C1.97632 9.34937 1.84937 5.92651 2.41577 4.49097C2.79663 3.53394 3.53394 2.79663 4.49585 2.41089C5.93628 1.8396 9.35425 1.97144 10.946 1.97144C12.5378 1.97144 15.9607 1.84448 17.3962 2.41089C18.3533 2.79175 19.0906 3.52905 19.4763 4.49097C20.0476 5.9314 19.9158 9.34937 19.9158 10.9412C19.9158 12.533 20.0476 15.9558 19.4763 17.3914Z' fill='%23356A61'/%3E%3C/svg%3E%0A");
                    }

                    &.pinterest {
                        width: 18px;
                        height: 24px;
                        -webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg width='19' height='25' viewBox='0 0 19 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.96094 0C4.95117 0 0 3.33984 0 8.74512C0 12.1826 1.93359 14.1357 3.10547 14.1357C3.58887 14.1357 3.86719 12.7881 3.86719 12.4072C3.86719 11.9531 2.70996 10.9863 2.70996 9.09668C2.70996 5.1709 5.69824 2.3877 9.56543 2.3877C12.8906 2.3877 15.3516 4.27734 15.3516 7.74902C15.3516 10.3418 14.3115 15.2051 10.9424 15.2051C9.72656 15.2051 8.68652 14.3262 8.68652 13.0664C8.68652 11.2207 9.97559 9.43359 9.97559 7.5293C9.97559 4.29688 5.39062 4.88281 5.39062 8.78906C5.39062 9.60938 5.49316 10.5176 5.85938 11.2646C5.18555 14.165 3.80859 18.4863 3.80859 21.4746C3.80859 22.3975 3.94043 23.3057 4.02832 24.2285C4.19434 24.4141 4.11133 24.3945 4.36523 24.3018C6.82617 20.9326 6.73828 20.2734 7.85156 15.8643C8.45215 17.0068 10.0049 17.6221 11.2354 17.6221C16.4209 17.6221 18.75 12.5684 18.75 8.0127C18.75 3.16406 14.5605 0 9.96094 0Z' fill='%23356A61'/%3E%3C/svg%3E%0A");
                    }

                    &:hover {
                        background: $bgcolor5;
                    }
                }
            }
        }
    }
}

.footer-bottom {
    background-color: $bgcolor1;
    padding: 12px 15px 17px;

    .copyright-text {
        font-weight: $font-regular;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.48px;
        color: $color3;
    }
}