// color variables ***************************************************

$themecolor1:#356A61;
$themecolor2:#4F4F4F;
$themecolor3:#ffffff;
$themecolor4:#000000;
$themecolor5:#BB6F58;
$themecolor6:#F2D6C8;
$themecolor7:#F5F8F7;
$themecolor8:#FCF7F4;
$themecolor9:#204B43;
$themecolor10:#64150A;
$themecolor11:#490903;

$bordercolor1:$themecolor1;
$bordercolor2:$themecolor2;
$bordercolor3:$themecolor3;
$bordercolor4:$themecolor4;
$bordercolor5:$themecolor5;
$bordercolor6:$themecolor6;
$bordercolor7:$themecolor7;
$bordercolor8:$themecolor8;
$bordercolor9:$themecolor9;
$bordercolor10:$themecolor10;
$bordercolor11:$themecolor11;

$color1:$themecolor1;
$color2:$themecolor2;
$color3:$themecolor3;
$color4:$themecolor4;
$color5:$themecolor5;
$color6:$themecolor6;
$color7:$themecolor7;
$color8:$themecolor8;
$color9:$themecolor9;
$color10:$themecolor10;
$color11:$themecolor11;

$bgcolor1:$themecolor1;
$bgcolor2:$themecolor2;
$bgcolor3:$themecolor3;
$bgcolor4:$themecolor4;
$bgcolor5:$themecolor5;
$bgcolor6:$themecolor6;
$bgcolor7:$themecolor7;
$bgcolor8:$themecolor8;
$bgcolor9:$themecolor9;
$bgcolor10:$themecolor10;
$bgcolor11:$themecolor11;




// responsive screen variables ***************************************************

$screen2000:2000px;
$screen1780:1800px;
$screen1600:1600px;
$screen1440:1440px;
$screen1439:1439px;
$screen1366:1366px;
$screen1325:1325px;
$screen1280:1280px;
$screen1199:1199px;
$screen1024:1024px;
$screen991:991px;
$screen768:768px;
$screen767:767px;
$screen660:660px;
$screen600:600px;
$screen567:567px;
$screen500:500px;
$screen435:435px;
$screen375:375px;
$screen360:360px;
$screen320:320px;

$minscreen1441:1441px;
$minscreen1200:1200px;
$minscreen992:992px;
$minscreen768:768px;
$minscreen576:576px;

$container-width:1230px;