.invois_select_image_display {
    width: 20%;
}
.invois_select_for_product {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: solid;
    border-width: 2.5px;
    border-color: #E4E4E4;
    border-radius: 7px;
}
.invois_select_name {
    padding-left: 20px;
}
span.invois_select_for_product_arraw {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='13' viewBox='0 0 20 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.35 0L10 7.63333L17.65 0L20 2.35L10 12.35L0 2.35L2.35 0Z' fill='%2364150A' style='mix-blend-mode:multiply'/%3E%3C/svg%3E%0A");
    background-size: 21px;
    display: block;
    height: 23px;
    width: 23px;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 90px;
}
.invois_show_all_products_drop_down {
    display: none;
    
    position: absolute;
    top: 100%;
    z-index: 10000000000;
    background-color: white;
    padding: 5px;
    /* border: 1px; */
    /* border-style: solid; */
    /* border-color: #e4e4e4; */
    width: 100%;
    box-shadow: 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 15px;
}
.invois_show_all_products_drop_down > .invois_select_for_product {
    border-radius: 4px;
}

.invois_select_main {
    position: relative;
}
