/**********************************************************
//////////////////    header    ///////////////////////////
**********************************************************/

.top-head {
    background-color: $bgcolor7;
    padding: 3px 10px 4px;
    position: relative;
    z-index: 11;

    .country {
        text-align: right;

        &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin-right: 6px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99 0C4.47 0 0 4.48 0 10C0 15.52 4.47 20 9.99 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 9.99 0ZM16.92 6H13.97C13.65 4.75 13.19 3.55 12.59 2.44C14.43 3.07 15.96 4.35 16.92 6ZM10 2.04C10.83 3.24 11.48 4.57 11.91 6H8.09C8.52 4.57 9.17 3.24 10 2.04ZM2.26 12C2.1 11.36 2 10.69 2 10C2 9.31 2.1 8.64 2.26 8H5.64C5.56 8.66 5.5 9.32 5.5 10C5.5 10.68 5.56 11.34 5.64 12H2.26ZM3.08 14H6.03C6.35 15.25 6.81 16.45 7.41 17.56C5.57 16.93 4.04 15.66 3.08 14ZM6.03 6H3.08C4.04 4.34 5.57 3.07 7.41 2.44C6.81 3.55 6.35 4.75 6.03 6ZM10 17.96C9.17 16.76 8.52 15.43 8.09 14H11.91C11.48 15.43 10.83 16.76 10 17.96ZM12.34 12H7.66C7.57 11.34 7.5 10.68 7.5 10C7.5 9.32 7.57 8.65 7.66 8H12.34C12.43 8.65 12.5 9.32 12.5 10C12.5 10.68 12.43 11.34 12.34 12ZM12.59 17.56C13.19 16.45 13.65 15.25 13.97 14H16.92C15.96 15.65 14.43 16.93 12.59 17.56ZM14.36 12C14.44 11.34 14.5 10.68 14.5 10C14.5 9.32 14.44 8.66 14.36 8H17.74C17.9 8.64 18 9.31 18 10C18 10.69 17.9 11.36 17.74 12H14.36Z' fill='%23356A61'/%3E%3C/svg%3E%0A");

            @include respond-to ($screen500) {
                width: 15px;
                height: 15px;
                margin-right: 3px;
            }
        }
    }

    .coun-title {
        width: auto;
        background-color: transparent;
        border: none;
        margin: 0;
        font-weight: $font-semibold;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.5;
        padding: 0 20px 0 0;
        cursor: pointer;
        color: $color1;
        background-position: right center;
        background-size: 12px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0L6 4.58L10.59 0L12 1.41L6 7.41L0 1.41L1.41 0Z' fill='%23356A61'/%3E%3C/svg%3E%0A");

        @include respond-to ($screen500) {
            font-size: 10px;
        }
    }
}

.bottom-head {
    border-bottom: 1px solid rgba($bgcolor4, 0.06);
    position: relative;
    z-index: 10;
    background-color: $bgcolor3;

    @include respond-to ($screen991) {
        padding: 16.3px 0;
    }

    > .container {
        background-color: $bgcolor3;
    }

    .bottom-head-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $bgcolor3;
    }

    .main-logo {
        max-width: 260px;
        flex: 0 0 260px;

        @include respond-to ($screen500) {
            max-width: 150px;
            flex: 0 0 150px;
        }

        .main_logo {
            display: block;
        }
    }

    .top-menu {
        max-width: calc(100% - 260px);
        flex: 0 0 calc(100% - 260px);
        text-align: left;
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .head-menu {
            @include respond-to ($screen991) {
                width: 100%;
                overflow-y: auto;
            }
        }

        .menu-top {
            display: flex;
            align-items: center;

            @include respond-to ($screen991) {
                flex-direction: column;   
            }

            #mega-menu-wrap-max_mega_menu_1 {
                #mega-menu-max_mega_menu_1 {
                    > li.mega-menu-item {
                        padding: 25px 24px;
                        cursor: pointer;
                        transition: all 0.3s ease;

                        @include respond-to ($screen1199) {
                            padding: 25px 15px;
                        }
        
                        @include respond-to ($screen991) {
                            width: 100%;
                            padding: 12.4px 0 0 0;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            transition: inherit;
                        }

                        &:hover {
                            background-color: rgba(242, 214, 200, 0.5);
                        }

                        > a.mega-menu-link{
                            background-color: transparent;
                            padding: 0;
                            font-weight: $font-regular;
                            font-size: 14px;
                            line-height: 1.5;
                            letter-spacing: 0.48px;
                            color: $color1;
                            text-transform: uppercase;
                            height: inherit;

                            @include respond-to ($screen991) {
                                padding-left: 24px;
                            }
                        }

                        &.mega-toggle-on {
                            background-color: rgba(242, 214, 200, 0.5);
                            > .mega-sub-menu {
                                transform: translateY(0);
                                top: 101%;
                            }

                            > a.mega-menu-link > span.mega-indicator {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    li.mega-menu-item-has-children {
                        > a.mega-menu-link {
                            > span.mega-indicator {
                                font-size: 0;
                                width: 12px;
                                height: 8px;
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 8px;
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0L6 4.58L10.59 0L12 1.41L6 7.41L0 1.41L1.41 0Z' fill='%23356A61'/%3E%3C/svg%3E%0A");
                                transition: all .3s ease;

                                @include respond-to ($screen991) {
                                    display: block;
                                    flex-grow: 1;
                                    height: 32px;
                                    background-size: 12px;
                                    background-position: left center;
                                    transition: inherit;
                                }
                            }
                        }
                    }

                    > li.mega-menu-megamenu {
                        > ul.mega-sub-menu {
                            background-color: $bgcolor3;
                            top: 72px;
                            transform: translateY(-118%);
                            transition: all 0.5s;
                            padding: 0;
                            z-index: -1;
                        }
                    }

                    .mega-menu-row {
                        max-width: $container-width;
                        margin-left: auto;
                        margin-right: auto;
                        float: none;
                        overflow: hidden;

                        @include respond-to ($screen1199) {
                            max-width: 992px;
                        }
                    
                        @include respond-to ($screen991) {
                            max-width: 768px;
                        }
                    
                        @include respond-to ($screen767) {
                            max-width: 600px;
                        }
                    
                        @include respond-to ($screen500) {
                            max-width: 435px;
                            padding-left: 20px;
                            padding-right: 20px;
                        }

                        > .mega-sub-menu {
                            overflow: hidden;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            padding: 26px 0 46px;

                            #mega-menu-192-0-0 {
                                max-width: 340px;
                                flex: 0 0 340px;
                                padding-top: 22px;
                            }

                            #mega-menu-192-0-1 {
                                max-width: 265px;
                                flex: 0 0 265px;
                                padding-top: 22px;
                            }

                            #mega-menu-192-0-2 {
                                max-width: 210px;
                                flex: 0 0 210px;
                                padding-top: 22px;
                            }

                            #mega-menu-192-0-3 {
                                max-width: 31%;
                                flex: 0 0 31%;

                                .mega-menu-item {
                                    padding: 0;
                                }
                            }

                            .mega-menu-column {
                                > .mega-sub-menu {
                                    overflow: hidden;

                                    .mega-menu-item {
                                        padding: 0;

                                        > .mega-menu-link {
                                            font-weight: $font-bold;
                                            font-size: 14px;
                                            line-height: 2;
                                            letter-spacing: 0.48px;
                                            color: $color1;
                                            padding-left: 20px;
                                            margin-bottom: 7px;
                                            position: relative;
                                            display: flex;
                                            align-items: center;
                                            text-transform: inherit;
                                        }

                                        .mega-sub-menu {
                                            margin-bottom: 10px;

                                            .mega-menu-item {
                                                .mega-menu-link {
                                                    font-weight: $font-regular;
                                                    font-size: 14px;
                                                    line-height: 2;
                                                    letter-spacing: 0.48px;
                                                    color: $color1;
                                                    display: block;
                                                    padding-left: 20px;
                                                    margin-bottom: 0;
                                                    text-transform: inherit;
                                                }
                                            }
                                        }
                                    }

                                    #mega-menu-item-194 {
                                        > .mega-menu-link {
                                            &::before {
                                                content: '';
                                                display: block;
                                                width: 11px;
                                                height: 13px;
                                                background-position: center center;
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                margin-right: 8px;
                                                background-image: url("data:image/svg+xml,%0A%3Csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.51172 0L3.4375 0.839844L4.35547 1.97266C1.88232 2.42432 0 4.5874 0 7.1875C0 10.1147 2.38525 12.5 5.3125 12.5C8.23975 12.5 10.625 10.1147 10.625 7.1875C10.625 4.5874 8.74267 2.42432 6.26953 1.97266L7.1875 0.839844L6.11328 0H4.51172ZM5.3125 3.125C7.56348 3.125 9.375 4.93652 9.375 7.1875C9.375 9.43848 7.56348 11.25 5.3125 11.25C3.06152 11.25 1.25 9.43848 1.25 7.1875C1.25 4.93652 3.06152 3.125 5.3125 3.125Z' fill='%23356A61'/%3E%3C/svg%3E%0A");
                                            }
                                        }
                                    }

                                    #mega-menu-item-197 {
                                        > .mega-menu-link {
                                            &::before {
                                                content: '';
                                                display: block;
                                                width: 11px;
                                                height: 13px;
                                                background-position: center center;
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                margin-right: 8px;
                                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='15' viewBox='0 0 12 15' fill='none'%3E%3Cpath d='M6 0C5.1709 0 4.5 0.670898 4.5 1.5C4.5 1.60254 4.50293 1.70801 4.52344 1.80469C4.52637 1.83691 4.52051 1.86621 4.52344 1.89844C4.52637 1.92188 4.52051 1.94531 4.52344 1.96875C4.53809 2.07715 4.56738 2.19141 4.59375 2.29688C4.60254 2.33496 4.6084 2.37598 4.61719 2.41406C4.64062 2.50195 4.68164 2.58691 4.71094 2.67188C4.72852 2.72461 4.7373 2.7832 4.75781 2.83594C4.78418 2.90625 4.81934 2.97949 4.85156 3.04688C5.07422 3.55078 5.36719 3.98438 5.64844 4.38281C5.68945 4.44141 5.72461 4.51465 5.76562 4.57031C5.90625 4.76953 6.04688 4.94824 6.16406 5.13281C6.51855 5.68359 6.75 6.19922 6.75 6.82031C6.75 7.31543 6.60645 7.43262 6.11719 7.66406C5.62793 7.89551 4.82227 8.0625 3.96094 8.25C3.09961 8.4375 2.17383 8.63672 1.38281 9.16406C0.591797 9.69141 0 10.6377 0 11.8594C0 13.3184 0.84375 14.625 0.84375 14.625L1.07812 15H1.94531L2.08594 14.9531C2.08594 14.9531 3.03516 14.5635 3.98438 13.8516C4.93359 13.1396 6 12.0322 6 10.5H4.5C4.5 11.291 3.84668 12.0732 3.07031 12.6562C2.5166 13.0693 2.24414 13.1602 1.96875 13.2891C1.77832 12.8818 1.5 12.4219 1.5 11.8594C1.5 11.0566 1.75195 10.7227 2.22656 10.4062C2.70117 10.0898 3.46289 9.88184 4.28906 9.70312C5.11523 9.52441 5.99707 9.38965 6.77344 9.02344C7.11621 8.8623 7.42969 8.61035 7.6875 8.29688C7.73438 8.73047 7.70508 9.19043 7.57031 9.70312C7.28027 10.7988 6.47461 12.1729 4.73438 13.875L5.76562 14.9297C7.62598 13.1074 8.63965 11.5342 9.02344 10.0781C9.40723 8.62207 9.12598 7.32715 8.625 6.25781C8.12402 5.18848 7.43262 4.30078 6.89062 3.51562C6.74707 3.30762 6.60645 3.12012 6.49219 2.92969C6.75879 2.83887 6.97266 2.65137 7.14844 2.4375L12 0.75H7.28906C7.02832 0.301758 6.55371 0 6 0Z' fill='%23356A61'/%3E%3C/svg%3E");
                                            }
                                        }
                                    }

                                    #mega-menu-item-198 {
                                        > .mega-menu-link {
                                            &::before {
                                                content: '';
                                                display: block;
                                                width: 11px;
                                                height: 13px;
                                                background-position: center center;
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                margin-right: 8px;
                                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M6.5 0C6.5 0 5.85 0.908985 5.85 1.3C5.85 1.69102 6.10898 1.95 6.5 1.95C6.89102 1.95 7.15 1.69102 7.15 1.3C7.15 0.908985 6.5 0 6.5 0ZM0.65 1.3C0.65 1.3 0 2.20898 0 2.6C0 2.99102 0.258985 3.25 0.65 3.25C1.04102 3.25 1.3 2.99102 1.3 2.6C1.3 2.20898 0.65 1.3 0.65 1.3ZM2.6 1.3C2.6 1.3 1.95 2.20898 1.95 2.6C1.95 2.99102 2.20898 3.25 2.6 3.25C2.99102 3.25 3.25 2.99102 3.25 2.6C3.25 2.20898 2.6 1.3 2.6 1.3ZM4.55 1.3C4.55 1.3 3.9 2.20898 3.9 2.6C3.9 2.99102 4.15898 3.25 4.55 3.25C4.94102 3.25 5.2 2.99102 5.2 2.6C5.2 2.20898 4.55 1.3 4.55 1.3ZM8.45 1.3C8.45 1.3 7.8 2.20898 7.8 2.6C7.8 2.99102 8.05898 3.25 8.45 3.25C8.84102 3.25 9.1 2.99102 9.1 2.6C9.1 2.20898 8.45 1.3 8.45 1.3ZM10.4 1.3C10.4 1.3 9.75 2.20898 9.75 2.6C9.75 2.99102 10.009 3.25 10.4 3.25C10.791 3.25 11.05 2.99102 11.05 2.6C11.05 2.20898 10.4 1.3 10.4 1.3ZM12.35 1.3C12.35 1.3 11.7 2.20898 11.7 2.6C11.7 2.99102 11.959 3.25 12.35 3.25C12.741 3.25 13 2.99102 13 2.6C13 2.20898 12.35 1.3 12.35 1.3ZM5.85 2.6V7.8H7.15V2.6H5.85ZM0 3.9V7.8H1.3V3.9H0ZM1.95 3.9V7.8H3.25V3.9H1.95ZM3.9 3.9V7.8H5.2V3.9H3.9ZM7.8 3.9V7.8H9.1V3.9H7.8ZM9.75 3.9V7.8H11.05V3.9H9.75ZM11.7 3.9V7.8H13V3.9H11.7ZM0 8.45C0 9.16602 0.583985 9.75 1.3 9.75H5.85V11.7H4.55C3.83398 11.7 3.25 12.284 3.25 13H9.75C9.75 12.284 9.16602 11.7 8.45 11.7H7.15V9.75H11.7C12.416 9.75 13 9.16602 13 8.45H0Z' fill='%23356A61'/%3E%3C/svg%3E");
                                            }
                                        }
                                    }

                                    #mega-menu-item-193 {
                                        > .mega-menu-link {
                                            &::before {
                                                content: '';
                                                display: block;
                                                width: 11px;
                                                height: 13px;
                                                background-position: center center;
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                margin-right: 8px;
                                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='13' viewBox='0 0 11 13' fill='none'%3E%3Cpath d='M1.83333 0C1.83333 0 0.611111 1.71068 0.611111 2.36364C0.611111 3.01659 1.15806 3.54545 1.83333 3.54545C2.50861 3.54545 3.05556 3.01659 3.05556 2.36364C3.05556 1.71068 1.83333 0 1.83333 0ZM5.5 0C5.5 0 4.27778 1.71068 4.27778 2.36364C4.27778 3.01659 4.82472 3.54545 5.5 3.54545C6.17528 3.54545 6.72222 3.01659 6.72222 2.36364C6.72222 1.71068 5.5 0 5.5 0ZM9.16667 0C9.16667 0 7.94444 1.71068 7.94444 2.36364C7.94444 3.01659 8.49139 3.54545 9.16667 3.54545C9.84194 3.54545 10.3889 3.01659 10.3889 2.36364C10.3889 1.71068 9.16667 0 9.16667 0ZM1.22222 4.13636V5.42667C0.511599 5.67077 0 6.31999 0 7.09091V8.12615L0.301975 8.45969C0.766419 8.97201 1.67803 8.9726 2.14247 8.45969L3.3623 7.11284L4.58095 8.45969C5.04539 8.97201 5.957 8.9726 6.42144 8.45969L7.64008 7.11284L8.85872 8.45969C9.32317 8.97201 10.2348 8.9726 10.6992 8.45969L11 8.12615V7.09091C11 6.31999 10.4884 5.67077 9.77778 5.42667V4.13636H8.55556V5.31818H6.11111V4.13636H4.88889V5.31818H2.44444V4.13636H1.22222ZM3.36111 8.90749L3.06152 9.23872C2.59708 9.75163 1.92683 10.0455 1.22222 10.0455C0.785889 10.0455 0.369111 9.92107 0 9.71307V12.4091C0 12.7353 0.273778 13 0.611111 13H10.3889C10.7262 13 11 12.7353 11 12.4091V9.71307C10.6309 9.92048 10.2141 10.0455 9.77778 10.0455C9.07317 10.0455 8.40292 9.75163 7.93848 9.23872L7.63889 8.90749L7.3393 9.23872C6.87486 9.75163 6.20461 10.0455 5.5 10.0455C4.79539 10.0455 4.12514 9.75163 3.6607 9.23872L3.36111 8.90749Z' fill='%23356A61'/%3E%3C/svg%3E");
                                            }
                                        }
                                    }

                                    #mega-menu-item-195 {
                                        > .mega-menu-link {
                                            &::before {
                                                content: '';
                                                display: block;
                                                width: 11px;
                                                height: 13px;
                                                background-position: center center;
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                margin-right: 8px;
                                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M4.59306 0C4.59306 0.711881 4.00611 1.28793 3.28076 1.28793C3.99842 1.28793 4.58281 1.85391 4.59306 2.55573C4.60331 1.85391 5.1877 1.28793 5.90536 1.28793C5.18001 1.28793 4.59306 0.711881 4.59306 0ZM4.59306 2.55573L1.82492 2.07276L1.16877 1.95201L1.06625 2.59598C1.06625 2.59598 0.730481 4.42473 0.492114 5.75542C0.34858 6.55282 0.469046 7.37036 0.840694 8.04954C1.14827 8.613 1.66345 9.06831 2.31703 9.29721L1.96845 11.2492L0.225552 10.9474L0 12.2152L4.53155 13L4.7571 11.7322L3.26025 11.4706L3.62934 9.41796C4.95958 9.23181 6.06684 8.15519 6.31546 6.76161C6.39748 6.30631 6.41798 6.18053 6.5 5.71517C6.71274 6.39435 7.10745 6.99807 7.64826 7.4257C8.15319 7.82566 8.80422 8.05205 9.49369 8.00929L9.94479 9.94118L8.2429 10.3235L8.52997 11.5712L13 10.565L12.7129 9.31734L11.2161 9.65944L10.7445 7.60681C11.8902 6.93518 12.4925 5.53909 12.1798 4.16563V4.14551C11.862 2.78212 11.4416 1.00619 11.4416 1.00619L11.2981 0.382353L10.6625 0.52322L6.17192 1.52941L5.53628 1.67028L5.67981 2.31424C5.67981 2.31424 5.76696 2.69156 5.78233 2.75697L4.59306 2.55573ZM10.3139 1.91176C10.3754 2.17086 10.5189 2.76451 10.6215 3.21981H8.38644L8.96057 5.33282C9.09385 5.8988 9.38091 6.36668 9.71924 6.68111C9.69361 6.68866 9.66542 6.69621 9.63722 6.70124C9.18868 6.80186 8.81703 6.69621 8.46845 6.4195C8.11987 6.1428 7.83281 5.67995 7.70978 5.1517C7.46372 4.10526 7.23561 3.17202 7.11514 2.65635L10.3139 1.91176ZM2.23502 3.4613L5.45426 4.00464C5.41325 4.23355 5.31329 4.77187 5.24921 5.1517H3.28076L2.99369 6.62074C2.89117 7.18924 2.96293 7.73259 3.11672 8.15016C3.06289 8.14764 3.00651 8.16022 2.95268 8.15016C2.50158 8.07218 2.2017 7.81308 1.98896 7.4257C1.77622 7.03831 1.68908 6.51006 1.78391 5.97678L1.80442 5.87616C1.99152 4.83727 2.14531 3.95937 2.23502 3.4613Z' fill='%23356A61'/%3E%3C/svg%3E");
                                            }
                                        }
                                    }

                                    #mega-menu-item-199 {
                                        > .mega-menu-link {
                                            &::before {
                                                content: '';
                                                display: block;
                                                width: 11px;
                                                height: 13px;
                                                background-position: center center;
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                margin-right: 8px;
                                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M6.5 0L6.00347 1.09687L4.69444 1.3L5.64236 2.07187L5.41667 3.25L6.5 2.6L7.58333 3.25L7.44792 2.07187L8.30556 1.3L7.08681 1.09687L6.5 0ZM6.5 3.31094L2.88889 6.5H5.14583L1.44444 9.75H3.67882L0 13H13L9.38889 9.75H11.5556L7.94444 6.5H10.0434L6.5 3.31094Z' fill='%23356A61'/%3E%3C/svg%3E");
                                            }
                                        }
                                    }

                                    #mega-menu-item-196 {
                                        > .mega-menu-link {
                                            &::before {
                                                content: '';
                                                display: block;
                                                width: 11px;
                                                height: 13px;
                                                background-position: center center;
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                margin-right: 8px;
                                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' viewBox='0 0 14 13' fill='none'%3E%3Cpath d='M8.65847 0L5.03231 2.46715C5.09203 2.52417 5.15174 2.58118 5.20602 2.65375C5.29288 2.76777 5.45301 2.98287 5.57515 4.33307L6.24827 3.83549L5.966 3.46231L9.46187 1.09882L8.65847 0ZM2.05756 0.95369C1.702 0.943323 1.40616 1.16101 1.40616 1.16101L0.103344 6.13679C-0.105649 6.76912 0.00563289 7.46107 0.407333 8.0027L1.60158 9.61983C1.33559 9.03154 1.28673 8.3707 1.4713 7.77464L2.70897 2.55008L2.88268 2.40496C2.84196 1.9022 2.79311 1.44349 2.70897 1.32687C2.51083 1.05994 2.27198 0.958873 2.05756 0.95369ZM10.5693 1.61713L4.96717 5.57701C4.96717 5.57701 4.85318 3.31718 4.64147 3.04766C4.09863 2.35053 3.33866 2.92327 3.33866 2.92327L2.14442 7.91977C1.94899 8.55729 2.07656 9.23109 2.49183 9.76495L4.16377 11.9211C5.07846 13.0977 6.81825 13.3542 8.0505 12.4809L14 8.27222L13.1749 7.19414L10.3521 9.20518L10.0264 8.60394L13.8914 5.86726L13.0663 4.80991L9.37502 7.42219L9.0276 6.82095L13.1966 3.87696L12.3715 2.8196L8.3762 5.65994L7.94193 5.1209L11.3944 2.67448L10.5693 1.61713Z' fill='%23356A61'/%3E%3C/svg%3E");
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .menu-list {
                padding: 25px 24px;
                cursor: pointer;
                transition: all 0.3s ease;

                @include respond-to ($screen1199) {
                    padding: 25px 15px;
                }

                @include respond-to ($screen991) {
                    width: 100%;
                    padding: 12.4px 0 0 0;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    transition: inherit;
                }

                &.drop-icon {
                    .menu-drop-icon,
                    .mega-indicator {
                        font-size: 0;
                        width: 12px;
                        height: 8px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 8px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0L6 4.58L10.59 0L12 1.41L6 7.41L0 1.41L1.41 0Z' fill='%23356A61'/%3E%3C/svg%3E%0A");
                        transition: all .3s ease;

                        @include respond-to ($screen991) {
                            display: block;
                            flex-grow: 1;
                            height: 32px;
                            background-size: 12px;
                            background-position: left center;
                            transition: inherit;
                        }
                    }

                    .sub-top-menu,
                    .mega-sub-menu {
                        @include respond-to($minscreen992) {
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            background-color: $bgcolor3;
                            padding: 16px 0 46px;
                            z-index: -1;
                            transform: translateY(-100%);
                            transition: all 0.5s;
                        }
                        @include respond-to ($screen991) {
                            opacity: 0;
                            visibility: hidden;
                            display: none;
                        }
                    }
                }

                @include respond-to($minscreen992) {
                    &:hover {
                        background-color: rgba(242, 214, 200, 0.5);
                        
                        .menu-drop-icon,
                        .mega-indicator {
                            transform: rotate(180deg);
                        }

                        .sub-top-menu,
                        .mega-sub-menu {
                            transform: translateY(0);
                            top: 101%;
                        }
                    }
                }

                &.active {
                    background-color: rgba(242, 214, 200, 0.5);

                    .menu-drop-icon,
                    .mega-indicator {
                        transform: rotate(180deg);
                        background-position: right center;
                    }

                    .sub-top-menu {
                        @include respond-to ($screen991) {
                            background-color: $bgcolor3;
                            opacity: 1;
                            visibility: visible;
                            margin: 12px 0 0 0;
                            display: block;
                            padding: 17px 0;
                            max-width: 100%;
                            flex: 0 0 100%;
                        }
                    }
                }
            }

            .menu-list-title {
                font-weight: $font-regular;
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: 0.48px;
                color: $color1;
                text-transform: uppercase;

                @include respond-to ($screen991) {
                    padding-left: 24px;
                }
            }

            .mega-menu-title {
                text-transform: uppercase;
                font-weight: $font-bold;
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: 0.48px;
                color: $color1;
                margin-bottom: 6px;
                padding-left: 16px;
            }

            .mega-menu-cover {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .mega-menu-left {
                max-width: 69%;
                flex: 0 0 69%;
                padding-right: 15px;
                display: flex;
                justify-content: space-between;
                margin: 0 -5px;

                @include respond-to ($screen991) {
                    max-width: 100%;
                    flex: 0 0 100%;
                    padding-right: 0;
                    flex-wrap: wrap;
                }

                .mega-left-menu, .mega-center-menu, .mega-right-menu {
                    flex-grow: 1;
                    padding: 0 5px;
                }

                .sub-menu-top {
                    margin-bottom: 10px;
                }

                .sub-menu-list {
                    .sub-menu-list-title {
                        font-weight: $font-regular;
                        font-size: 14px;
                        line-height: 2;
                        letter-spacing: 0.48px;
                        color: $color1;
                        display: block;
                        padding-left: 20px;

                        &.mega-menu-list {
                            font-weight: $font-bold;
                            margin-bottom: 7px;
                            position: relative;
                            display: flex;
                            align-items: center;

                            img {
                                margin-right: 8px;
                            }
                        }

                        &:hover {
                            color: $color9;
                        }
                    }
                }
            }

            .mega-menu-right {
                max-width: 100%;
                flex: 0 0 100%;
                // margin-top: -22px;

                @include respond-to ($screen991) {
                    max-width: 100%;
                    flex: 0 0 100%;
                    margin-top: 10px;
                }

                .mega-menu-image {
                    display: flex;
                    flex-wrap: wrap;
                    margin: -12.5px;

                    .menu-image-list {
                        padding: 12.5px;
                        max-width: 50%;
                        flex: 0 0 50%;

                        .theme-img {
                            padding-top: 100%;
                            border-radius: 20px;

                            img {
                                transition: all .3s ease;
                            }
            
                            &:hover {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }

                        &:first-child {
                            max-width: 100%;
                            flex: 0 0 100%;

                            .theme-img {
                                padding-top: 80.3%;
                            }

                            .menu-image-title {
                                min-height: 75px;
                                padding: 4px 22px;
                            }
                        }

                        .menu-image-title {
                            position: absolute;
                            bottom: 0;
                            background: rgba(187, 111, 88, 0.5);
                            background-blend-mode: multiply;
                            border-radius: 0px 0px 20px 20px;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            font-weight: $font-semibold;
                            font-size: 14px;
                            line-height: 1.5;
                            letter-spacing: 0.48px;
                            color: $color3;
                            text-transform: uppercase;
                            min-height: 51px;
                            padding: 4px 10px;
                            margin-bottom: 0 !important;
                        }
                    }
                }
            }
        }

        @include respond-to ($screen991) {
            background-color: $bgcolor3;
            position: fixed;
            right: 0;
            top: 98px;
            bottom: 0;
            z-index: 999;
            padding: 0;
            max-width: 100%;
            flex: 0 0 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            transform: translateX(120%);
            transition: all 0.5s;

            &.active {
                transform: translateX(0);
            }

            @include respond-to ($screen500) {
                top: 84px;
            }
        }
    }

    .account-btn {
        display: flex;
        align-items: center;

        @include respond-to ($screen991) {
            display: block;
            width: 100%;
            text-align: center;
            margin-top: auto;
            border-top: 1px solid #E0E0E0;
            padding: 20px 15px 25px;
        }

        .head-btn {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            &.menu-b2b-btn {
                @include respond-to ($screen991) {
                    display: none;
                }
            }
        }
    }
    
    @include respond-to ($minscreen992) {
        .top-menu-icon, .close-icon, .menu-b2b-title {
            display: none;
        }
    }

    @include respond-to ($screen991) {
        .top-menu-icon {
            display: block;
            font-size: 0;
            cursor: pointer;
            max-width: 20px;
            max-height: 14px;
            min-width: 20px;
            min-height: 14px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V2H20V0H0ZM0 6V8H20V6H0ZM0 12V14H20V12H0Z' fill='%23356A61'/%3E%3C/svg%3E%0A");

            &.active {
                display: none;
            }
        }

        .close-icon {
            display: none;
            font-size: 0;
            height: 16px;
            width: 16px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41406 0L0 1.41406L6.29297 7.70703L0 14L1.41406 15.4141L7.70703 9.12109L14 15.4141L15.4141 14L9.12109 7.70703L15.4141 1.41406L14 0L7.70703 6.29297L1.41406 0Z' fill='%23356A61'/%3E%3C/svg%3E%0A");

            &.active {
                display: block;
            }
        }
    }
}


.user-profile {
    .bottom-head {
        @include respond-to ($screen991) {
            .top-menu {
                position: unset;
                transform: inherit;
                max-width: 30px;
                max-height: 30px;
                min-width: 30px;
                min-height: 30px;

                .head-menu {
                    display: none;
                }
                .menu-top {
                    .menu-list-title {
                        padding-left: 0;
                    }
                }
            }
        }
        .account-btn {

            @include respond-to ($screen991) {
                padding: 0;
                border-top: none;
            }

            .user_img {
                margin-left: 12px;
                cursor: pointer;

                @include respond-to ($screen991) {
                    max-width: 30px;
                    max-height: 30px;
                    min-width: 30px;
                    min-height: 30px;
                    margin-left: 0;
                    position: relative;
                }
            }

            .close-icon {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }

            .menu-top {
                .menu-list-title {
                    font-weight: $font-semibold;
                    font-size: 14px;
                    line-height: 1.5;
                    letter-spacing: 0.48px;
                    color: $bgcolor1;
                    text-transform: unset;
                    display: flex;
                    align-items: center;

                    &::before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        display: block;
                        margin-right: 10px;
                        background: $bgcolor1;
                        -webkit-mask-position: center;
                        -webkit-mask-repeat: no-repeat;
                        -webkit-mask-size: contain;
                    }
                }

                &.menu-bottom {
                    .menu-list-title {
                        font-weight: $font-light;

                        &::before {
                            display: none;
                        }
                    }
                }
            }

            .head-menu {
                @include respond-to ($screen991) {
                    display: none;
                }
            }

            &.cs-popup {
                @include respond-to ($screen991) {
                    transform: translateX(0);
                    position: unset;
                    max-width: 30px;
                    max-height: 30px;
                    min-width: 30px;
                    min-height: 30px;
                }
            }
        }

        .top-menu-icon {
            @include respond-to ($screen991) {
                display: none;
            }
        }

        .bottom-head-row {
            > .close-icon {
                @include respond-to ($screen991) {
                    display: none;
                }
            }
        }
    }

    .user-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: $bgcolor3;
        box-shadow: 0px 4px 10px rgba($bgcolor4, 0.15);
        border-radius: 8px;
        min-width: 330px;

        @include respond-to ($screen991) {
            background-color: $bgcolor3;
            position: fixed;
            right: 0;
            top: 96px;
            bottom: 0;
            z-index: 999;
            padding: 0;
            max-width: 100%;
            flex: 0 0 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            transform: translateX(140%);
            transition: all 0.5s;

            &.active {
                transform: translateX(0);
                min-width: 100%;
                max-width: 100%;
                box-shadow: none;
            }
        }

        .menu-top {
            flex-wrap: wrap;
            padding: 11px 0 20px;
            border-bottom: 1px solid rgba($bgcolor4, 0.06);

            &:last-child {
                border-bottom: none;
            }

            .menu-list {
                width: 100%;
                padding: 6px 28px;

                &.customer-logout {
                    .menu-list-title {
                        font-weight: $font-light;
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .account-btn {
        position: relative;
    
        &.active {
            .user-dropdown {
                display: flex;
            }
        }
    }
}