//------------------------------------------
// PREFIX 1
//------------------------------------------

@mixin prefixcss($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  // Output standard non-prefixed declaration
  #{$property}: $value;

  // @include prefixcss(transform, rotate(45deg), webkit ms);
}

// cross browser mixin ***************************************************

//------------------------------------------
// IE
//------------------------------------------
@mixin IE {
  @media screen and (min-width: 0\0) {
    @content;
  }
}

//------------------------------------------
// Edge
//------------------------------------------
@mixin edge {
  @supports (-ms-ime-align: auto) {
    @content;
  }
}

//------------------------------------------
// print
//------------------------------------------
@mixin print {
  @media print {
    @content;
  }
}

// responsive screen  ***************************************************

//------------------------------------------
// responsive screen
//------------------------------------------

@mixin respond-to($class) {
  @if $class == $screen2000 {
    @media only screen and (max-width: $screen2000) {
      @content;
    }
  }
  @if $class == $screen1780 {
    @media only screen and (max-width: $screen1780) {
      @content;
    }
  }
  @if $class == $screen1600 {
    @media only screen and (max-width: $screen1600) {
      @content;
    }
  }
  @if $class == $screen1440 {
    @media only screen and (max-width: $screen1440) {
      @content;
    }
  }
  @if $class == $minscreen1441 {
    @media only screen and (min-width: $minscreen1441) {
      @content;
    }
  }
  @if $class == $screen1439 {
    @media only screen and (max-width: $screen1439) {
      @content;
    }
  }
  @if $class == $screen1366 {
    @media only screen and (max-width: $screen1366) {
      @content;
    }
  }
  @if $class == $screen1325 {
    @media only screen and (max-width: $screen1325) {
      @content;
    }
  }
  @if $class == $screen1280 {
    @media only screen and (max-width: $screen1280) {
      @content;
    }
  }
  @if $class == $screen1199 {
    @media only screen and (max-width: $screen1199) {
      @content;
    }
  }
  @if $class == $minscreen1200 {
    @media only screen and (min-width: $minscreen1200) {
      @content;
    }
  }
  @if $class == $screen1024 {
    @media only screen and (max-width: $screen1024) {
      @content;
    }
  }
  @if $class == $screen991 {
    @media only screen and (max-width: $screen991) {
      @content;
    }
  }
  @if $class == $minscreen992 {
    @media only screen and (min-width: $minscreen992) {
      @content;
    }
  }
  @if $class == $minscreen768 {
    @media only screen and (min-width: $minscreen768) {
      @content;
    }
  }
  @if $class == $screen767 {
    @media only screen and (max-width: $screen767) {
      @content;
    }
  }
  @if $class == $screen660 {
    @media only screen and (max-width: $screen660) {
      @content;
    }
  }
  @if $class == $screen600 {
    @media only screen and (max-width: $screen600) {
      @content;
    }
  }
  @if $class == $minscreen576 {
    @media only screen and (min-width: $minscreen576) {
      @content;
    }
  }
  @if $class == $screen567 {
    @media only screen and (max-width: $screen567) {
      @content;
    }
  }
  @if $class == $screen500 {
    @media only screen and (max-width: $screen500) {
      @content;
    }
  }
  @if $class == $screen435 {
    @media only screen and (max-width: $screen435) {
      @content;
    }
  }
  @if $class == $screen375 {
    @media only screen and (max-width: $screen375) {
      @content;
    }
  }
  @if $class == $screen360 {
    @media only screen and (max-width: $screen360) {
      @content;
    }
  }
  @if $class == $screen320 {
    @media only screen and (max-width: $screen320) {
      @content;
    }
  }
}

// images path  ***************************************************

$imagesPath: "../images";
@function images($imagesPath) {
  @return $imagesPath;
}
// url(#{$imagesPath}/demo.png);

// inner mixin  ***************************************************

//------------------------------------------
// button mixin
//------------------------------------------

@mixin btn($background: $bgcolor1, $textcolor: $color2) {
  appearance: none;
  user-select: none;
  transition: all 0.3s ease;
  border-radius: 8px;
  box-shadow: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: $font-semibold;
  line-height: 1.5;
  margin: 0;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.48px;

  @if ($background == $bgcolor1) {
    background-color: $bgcolor1;
    color: $color3;

    @include respond-to ($screen767) {
      padding: 8px 12px;
    }
    
    &:hover,
    &:focus {
      background-color: $bgcolor9;
      color: $color3;
    }
  } @else if ($background == $bgcolor2) {
    line-height: 1.2;
    padding: 8px 12px;
    border: 2px solid $bordercolor1;
    background-color: transparent;
    color: $color1;
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }
    &:hover,
    &:focus {
      background-color: $bgcolor1;
      color: $color3;      
    }
  } @else if ($background == $bgcolor3) {
    line-height: 1.2;
    padding: 8px 12px;
    border: 2px solid $bordercolor3;
    background-color: transparent;
    color: $color3;
    &:hover,
    &:focus {
      background-color: $bgcolor3;
      color: $color1;      
    }
  }
}

//------------------------------------------
// placeholder mixin
//------------------------------------------

@mixin placeholder {
  ::placeholder {
    @content;
  }
  ::-webkit-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  ::-ms-placeholder {
    @content;
  }
  :-ms-placeholder {
    @content;
  }
}

//------------------------------------------
// keyframes mixin
//------------------------------------------

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin animation ($stuff) {
  -webkit-animation: $stuff;
  -moz-animation: $stuff;
  -ms-animation: $stuff;
  animation: $stuff;
}
