/**********************************************************
//////////////////    client area page    ////////////////////////
**********************************************************/


.client-area-main {
    margin-top: 0;
    margin-bottom: 200px;

    @include respond-to ($screen991) {
        margin-bottom: 100px;
    }
    @include respond-to ($screen500) {
        margin-bottom: 30px;
    }
}

.green_dashboard_navigation {
    position: relative;
    margin-bottom: 50px;

    @include respond-to ($screen991) {
       margin-bottom: 30px;
    }

    &::after {
        content: '';
        border-bottom: 1px solid rgba($bgcolor4, 0.06);
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 1px;
        margin-left: calc(-50vw + 50%);
    }

    .dashboard-nav {
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond-to ($screen767) {
            align-items: unset;
        }
        
    }

    .dashboard-nav-list {
        transition: all .3s ease;
        @include respond-to ($screen600){
            display: flex;
        }

        &.active {
            .dashboard-nav-title {
                border-bottom: 4px solid $bordercolor9;
            }
        }

        &.wishlist-icon {
            .dashboard-nav-title {
                @extend .wishlist-icon;
            }
        }
        &.projects-icon {
            .dashboard-nav-title {
                @extend .projects-icon;
            }
        }
        &.sending-icon {
            .dashboard-nav-title {
                @extend .sending-icon;
            }
        }
        &.returns-icon {
            .dashboard-nav-title {
                @extend .returns-icon;
            }
        }
    }

    .dashboard-nav-title {
        font-weight: $font-regular;
        font-size: 14px;
        line-height: 1.5;
        display: block;
        letter-spacing: 0.48px;
        color: $color1;
        text-transform: uppercase;
        text-align: center;
        padding: 12px 25px 12px 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 4px solid transparent;
        background-color: $bgcolor3;

        @include respond-to ($screen767) {
            padding: 12px 10px 17px 10px;
            justify-content: center;
            align-items: unset;
        }
        @include respond-to ($screen500) {
            padding: 12px 8px 17px 8px;
        }

        &::before {
            content: '';
            width: 30px;
            height: 30px;
            display: block;
            background: $bgcolor1;
            -webkit-mask-position: center;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: 20px;
            margin-right: 4px;
            transition: all .3s ease;
        }

        &:hover {
            border-bottom: 4px solid $bordercolor9;
            background-color: $bgcolor9;
            color: $color3;

            &::before {
                background-color: $bgcolor3;
            }
        }
    }
}

.green_dashboard_wishlist {
    .product-row {
        margin: -26px -47px;

        @include respond-to($screen1325) {
            margin: -26px -15px;
        }
        @include respond-to($screen991) {
            margin: -13px;
        }
        .theme-btn-secound{
            @include respond-to($screen375) {
              padding: 8px 6px;
            }
        }   
    }

    .product-main-cover {
        max-width: 33.33%;
        flex: 0 0 33.33%;
        padding: 26px 47px;

        @include respond-to($screen1325) {
            padding: 26px 15px;
        }
        @include respond-to($screen991) {
            padding: 13px;
        }
        @include respond-to ($screen1199) {
            max-width: 50%;
            flex: 0 0 50%;
        }
        @include respond-to ($screen767) {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}


.wishlist-title-container {
    display: none;
}

.woocommerce-wishlist {
    .client-dashboard {
        .green_dashboard_navigation {
            margin-top: 0;
        }
    }
}