/**********************************************************
//////////////////      contact page    ////////////////////////
**********************************************************/


.contact-page{
    margin: 45px 0 115px;
    @include respond-to ($screen991){
        margin: 30px 0 85px;
    }

    @include respond-to ($screen500){
        margin: 19px 0 33px;
    }
    
    .contact-form{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content:flex-end;
    }
    .edit-profile-form{
        max-width:calc(100% - 621px);
        flex: 0 0 calc(100% - 621px);
        padding-right: 0;
        @include respond-to ($minscreen1200) {
            padding-left: 115px;
        }
        @include respond-to ($screen991){
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
    .client-heading{
        @include respond-to ($minscreen1200) {
            padding-left: 115px;
        }
        .user_line{
            font-weight: $font-medium;
            font-size: 13px;
            line-height: 1.3;
            color: $color11;
            margin-bottom: 3px;
            @include respond-to ($screen991){
                text-align: center;
            }
        }
        .main-title{
            margin-bottom: 34px;
            line-height: 1.2;
            color: $color11;
            @include respond-to ($screen991){
                text-align: center;
            }
        }
    }
    .client-edit-group{
        margin: 0 -8px;
        .form-group{
            padding: 0 8px;
        }
    }
    .form-group{
        max-width:100%;
        margin: 0;
    }
    .form-input{
        margin-bottom: 15px;
    }
    input[type="email"]{
        margin-bottom: 15px;
    }
    .select-main{
        .select-inner{
            &:last-child {
                max-width: 100%;
                flex: 0 0 100%;
                color: $color10;
                font-size: 14px;
                font-weight: $font-semibold;
                margin-right: 0px;
                margin-bottom: 15px;
                background-size: 20px 12px; 
                background-position: 95%;
            }
        }
    } 
    @include placeholder{
        font-size: 14px;
    }
    .contact-textarea{
        min-height: 205px;
        resize: none;
        margin-bottom: 5px;
        @include respond-to($screen500){
            margin-bottom: 18px;
            min-height: 126px;
        }
    }
    .contact-btn {
        padding: 15px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        font-weight:$font-semibold;
        line-height: 1.5;
        color: $bgcolor3;
        letter-spacing: 0.48px;
        background: $bgcolor1;
        cursor: pointer;
        transition: all 0.3s ease;
        @include respond-to($screen991){
            margin: 0 auto;
            display:block;
        }
        @include respond-to($screen500){
            padding: 8px 12px;
        }
        &:hover{
            background-color: $bgcolor9;
        }
    }
    .contact-images{
        padding-left: 79px;
        .con-img{
            max-width: 542px;
            min-width: 542px;
            min-height: 464px;
            max-height: 464px;
            border-radius: 20px;
            @include respond-to($screen1199){
                max-width: 442px;
                min-width: 442px;
            }
            @include respond-to($screen991){
                display: none;
            }
        }
    }
}